*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    height: 3em;
    line-height: 3em;
    background-color: rgba(18,18,39,1);
}

.logobox{
    margin: auto;
    height: 100px;
    width: 100px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

#button{
    background-color: #0b5d93;
    color: white;
    border: none;
    width: 105px;
    height: 40px;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}
#button:hover{
    opacity: 0.8;
}

.menu{
    position: fixed;
    height: 100%;
    background-color: rgba(18,18,39,1);
}
.menu a{
    text-decoration: none;
    text-align: center;
    color: #ffff;
    font-size: 20px;
    letter-spacing: 2px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.menu a:hover{
    background-color: red;
    letter-spacing: 3px;
    transition: 0.4s;

}
.background-container {
    position: fixed;
    top: 2em;
    padding-top: 1em;
    background-color: #f0f0f0;
    width: calc(100% - 265px);
    height: calc(100% - 3em);
    text-align: -webkit-center;
    overflow-y: auto;
}

@media screen and (min-width: 481px) {

    div.header {
        margin-left: 265px;
        z-index: 2;
        width: calc(100% - 200px);
    }
    .menu {
        position: fixed;
        width: 265px;
        z-index: 3;
    }

    .background-container {
        left: 265px;
    }
    i.MenuButton {
        display: none;
    }
    div.MainContent {
        left: 265px;
    }
    i.MenuButton {
        display: none;
    }


}


@media screen and (max-width: 480px) {

    div.menu {
        z-index: inherit;
        width: 0%;
		transition: width 0.25s;
    }
        div.menu.open {
            z-index: 3;
            width: 50%;
        }

    .header {
        margin-left: 0;
        width: 100%;
        z-index: 10;
		transition: width 0.25s, margin-left 0.25s;
    }
        .header.sidebaropen {
			margin-left:50%;
			width:50%;
        }

    div.background-container {
		overflow-y: auto;
        left: 0;
        width: 100%;
		transition: left 0.25s;

    }
    div.background-container.sidebaropen {
        left: 50%;
   }
    i.MenuButton {
        z-index: 99;
        margin-top: 12.5px;
        border: 1px solid #222;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 10px;
    }

        i.MenuButton:hover {
            border-color: gray;
            background-color: gray;
        }
}



.background-image {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.body1{
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}
.body1 h1{
    width: 350px;
    margin-top: 80px;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 5px;
    padding:30px;
    background-color: #000;
    padding-top: 5px;
}



#licenses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

#licenses td,#licenses th {
    border: 1px solid #ddd;
    padding: 8px;
}
#licenses tr:nth-child(even){
    background-color: #f2f2f2;
}
#licenses tr:nth-child(odd){
    background-color: #ddd;
}
#licenses tr:hover {
    background-color: #b7b7b7;
}

#licenses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
#SerialNumber, #Software, #PurchaseDate, #ExpiryDate, #email, #address, #lastName, #name, #oldPassword, #newPassword, #ConfirmPass{
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.account-section {
    margin-top: 20px;

}

.general-selction{
    margin-bottom: 20px;
}

.password-section {
    margin-bottom: 20px;
}

.body1 h3 {
    margin-top: 10px;
    color: #fff;
    border-radius: 2px;
    letter-spacing: 5px;
    background-color: rgb(143, 0, 10);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
label{
    font-weight: bold;
    font-size: 20px;
}

select{
    width: 100%;
    height: 25px;
    border-radius: 3px;
}
