* {
    font-family: "Poppins", sans-serif;
}


body {
    padding:0;
    margin: 0;

}

div.header {
    position: fixed;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    background-color: rgba(18,18,39,1);
}

div.sidebar {
    position: fixed;
    height: 100%;
    background-color: rgba(18,18,39,1);
}


div.LogoContainer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

li.SidebarItem {
    display: block;
    /* background-color: #333; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    user-select: none;
}

li.SidebarItem:hover {
    background-color: red;
    letter-spacing: 3px;
    transition: 0.4s;
}

div.MainContent {
    position: fixed;
    top: 2em;
    padding-top: 1em;
    background-color: #f0f0f0;
    width: calc(100% - 265px);
    height: calc(100% - 4em);
    text-align: -webkit-center;
    overflow-y: auto;
}

i.BackButton {
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    user-select: none;
}

    i.BackButton:hover {
        border-color: gray;
        background-color: gray;
    }



@media screen and (min-width: 481px) {

    div.header {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    li.SidebarItem {
        text-align: center;
    }

    div.sidebar {
        position: fixed;
        width: 265px;
    }

    div.MainContent {
        left: 265px;
    }

    i.MenuButton {
        display: none;
    }

}


@media screen and (max-width: 480px) {

    div.sidebar {
        width: 0%;
		transition: width 0.25s;
    }
        div.sidebar.open {
            width: 50%;
        }

    div.header {
        margin-left: 0;
        width: 100%;
        z-index: 10;
		transition: width 0.25s, margin-left 0.25s;
    }
        div.header.sidebaropen {
			margin-left:50%;
			width:50%;
        }


    div.MainContent {
		overflow-y: auto;

        left: 0;
        width: 100%;
		transition: left 0.25s;

    }
        div.MainContent.sidebaropen {
             left: 50%;
        }

    i.MenuButton {
        margin-top: 12.5px;
        border: 1px solid #222;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 10px;
    }

        i.MenuButton:hover {
            border-color: gray;
            background-color: gray;
        }

}

#email, #address, #lastName, #name, #oldPassword, #newPassword, #ConfirmPass{
    font-size: 15px;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border-radius: 2px;
    border: 2px solid #ddd;
}

#button{
    background-color: #0b5d93;
    color: white;
    border: none;
    width: 105px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}


.general-section{
    background-color: #ffff;
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
}

.password-section{
    margin-top: 20px;
    background-color: #ffff;
    width: fit-content;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
}


.account-section h3{
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.dot {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-image: url("../img/logo.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


div.Modal {
	width: 200px;
	height: 200px;
	background-color:red;
	position: fixed;
	z-index: 20;
}